html {
  background-color: black;
}

body {; 
  color: white; //Make foreground color white on everything
  background-color: black;
}

div {
  border: 1px dotted white; 
}

h1 {
  font-family: "raleway",sans-serif;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.41em;
  text-shadow: 1px 1px 6px #000000;
}

a {
  color: white;
}


#app {
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  margin-top: 60px;
  // position: relative;
}